
:root {
  --border-radius: 12px;

  --main-font: rgb(255, 255, 255);
  --secondary-font: rgb(207, 207, 207);
  --background: rgb(25, 24, 24);  
}

html,
body {
  display: flex;
  flex-direction: row;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
  color: var(--main-font);
  background-image: url('../public/star-wars-bg.jpeg');
  position: fixed;
}

a{
  color: inherit;
  text-decoration: none;
} 

* {
  box-sizing: border-box;
}