.header {
  margin-right: 30px;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.17738970588235292) 52%, rgba(0, 0, 0, 0.5611432072829132) 100%);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 13em;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.sidebar {
  display: flex;
  flex-grow: 999;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 30%;
  font-size: 20px;
  font-weight: 800;
  color: var(--secondary-font);
  list-style: none;
}

.sidebar a:hover {
  color: var(--main-font);
  text-decoration: underline;
  display: flex;
  font-size: 22px;
}

.sidebar>li {
  display: flex;
  padding: 1rem;
}

.sidebar>li:hover {
  background-color: rgba(240, 248, 255, 0.217);
}